/* Para tablets y móviles grandes */
@media (max-width: 768px) {
.content-principal {
  width: 100vw; /* Asegura que ocupa toda la pantalla horizontal */
  height: 345vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 100vw;
  height: 345vh;
  padding: 6rem 0; /* solo vertical */
  background: linear-gradient(to right, #0f2027, #8e2de2);
  color: white;
}

  .subtexto-info {
    background-color: white;
    color: black;
    width: 100%;
    margin: 0 auto;
    border: none;
  }

  .hero-section {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Ocupa pantalla completa */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* evita interacción mientras está fijo */
  z-index: 1; 


    
  }

  .hero-section h1 {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
  }

  .hero-section p {
    font-size: 1rem;
    color: #7f8c8d;
  }

  .cta-button {
    font-weight: bold;
    color: #242424;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .cta-button:hover {
    cursor: pointer;
    color: #000000;
  }

  .profile-section {
    position: fixed;
  top: -5rem;
  left: 0;
  width: 100%;
  height: 100vh; /* Ocupa pantalla completa */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* evita interacción mientras está fijo */
  z-index: 1;  }

  .profile-image {
    width: 70%;
    top: 6rem;
  }

  .perfil {
    width: 100%;
    object-fit: cover;
    border-radius: 360px;
  }

  .profile-info {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    top: 8rem;
    text-align: center;
  }

  .profile-info h2{

  
    color: #ffffff;
    font-size: 1.5rem;
  }
 


  .busquedaMobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: auto;
    top: 0;
  }
  .ico-busquedaMobile{
    left: 2rem;
    font-size: 1.5rem;

  }

  
/* Sección Habilidades */
.skills-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Ocupa pantalla completa */
  justify-content: center;
  align-items: center;
  pointer-events: none; /* evita interacción mientras está fijo */
  z-index: 1; }


.skills-section h3 {
  font-size: 0.5rem;
  color: #8CDA05;
  padding-bottom: 0.5rem;
  border-right: 2px solid #ecf0f1;
  position: relative;
  top: 5rem;
  width: 100%;
  text-align: center;
  height: 60vh;
}

.skills-grid {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 4 columnas */
  grid-template-rows: repeat(2, auto);   /* 3 filas */
  gap: 1rem;
  position: relative;
  top: -15rem;
  width: 70%;
  margin: 0 auto;
  justify-items: center;
  align-items: center;}



.skill-item {
 display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 5px;
  transition: transform 0.3s;

}
  
  .skill-item-busqueda.visible {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-size: 1rem;
    top: 1rem;
    right: 0;
    text-align: center;
  }
  

  .links-redes {
    left: 0;
    top: 0;
    text-align: center;
  }

  .skill-namej img{
    width: 50px;
    height: 50px;
  }
}

/* Para móviles medianos (menos de 600px) */
@media (max-width: 600px) {
  .hero-section h1 {
    font-size: 1.8rem;
  }

  .skill-item-busqueda {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-size: 1rem;
    top: 1rem;
    right: 0;
    text-align: center;
  }
  .hero-section p {
    font-size: 0.9rem;
  }

  .cta-button {
 position: relative;
 top: 4rem;
    padding: 0.7rem 1.2rem;
    font-size: 0.95rem;
  }

  .perfil {
    width: 90%;
  }

  .profile-info h2,
  .profile-title {
    font-size: 1rem;
  }

  .skills-section h3 {
    color:  #8CDA05;
    display:grid;
    font-size: 1.5rem;
  }

  .skill-name,
  .skill-namej,
  .skill-nameh {
    font-size: 0.85rem;
  }

 
}

/* Para móviles pequeños (menos de 400px) */
@media (max-width: 400px) {
  .content-container {
    gap: 1.5rem;
  }

  .hero-section h1 {
    font-size: 1.5rem;
  }

  .hero-section p {
    font-size: 0.9rem;
  }

  .cta-button {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }

  .profile-image {
    width: 70%;
  }

  .perfil {
    width: 100%;
  }

  .profile-info h2,
  .profile-title {
    font-size: 0.95rem;
  }

  .skills-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10rem;
    position: relative;
    left: 2rem;
  }

  .skills-section h3 {
    color: #8cda05;
    font-size: 0.9rem;
  }

  .skill-name,
  .skill-namej,
  .skill-nameh {
    font-size: 0.8rem;
  }

  .skill-item-busqueda {
    font-size: 0.9rem;
  }

  .links-redes {
    font-size: 0.9rem;
  }

}

