/* Sección Hero */
.heroe-static {
   position: relative;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh; /* Ocupa pantalla completa */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* evita interacción mientras está fijo */
  z-index: 1; 
}

/* Líneas de texto principales */
.one-line {
  font-size: 2.69rem;
  color: white; /* corregido */
  margin-bottom: 1.2rem;
}

.second-line {
  font-size: 3rem;
  color: #BCDA05;
  margin-bottom: 1.2rem;
}

.three-line {
  font-size: 3rem;
  color: white;
  margin-bottom: 1.5rem;
}

.four-line {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 2rem;
}

/* Botón */
.heroe-button {
  border: none;
  font-weight: bold;
  color: black;
  background-color: #8CDA05;
  padding: 1rem 2rem;
  border-radius: 15px;
  transition: all 0.3s ease;
  margin-top: 2rem; /* en lugar de top: 4rem */
}

.heroe-button:hover {
  cursor: pointer;
  background-color: #A4F522;
  color: #000000;
  border: none;
}

/* Responsive */
@media (max-width: 768px) {
  .heroe-static {
    align-items: center;
    background: transparent;
    width: 100%;
    height: 100dvh;
    position: relative;
    top: -5rem;
    left: 1;
  }

  .one-line {
    font-size: 3rem;
  white-space: nowrap;
    color: white;
    margin-bottom: 1rem;
  }

  .second-line {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .three-line {
    font-size: 3rem;
    color: white;
    margin-bottom: 1.2rem;
  }

  .four-line {
    width: 100%;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 2rem;
  }

  .heroe-button {
    padding: 0.7rem 1.2rem;
    font-size: 0.95rem;
    margin-top: 2rem; /* en lugar de bottom: 5rem */
  }
}

