.services-static-container {
 width: 100%;
 height: 80dvh;
  margin: 0 auto;
 background: linear-gradient(to right, #0f2027, #8e2de2);
  text-align: center;
  color: white;
}


.services-static-title {
   font-family: 'Bebas Neue', sans-serif;
  position: relative;
  top: 0rem;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    #8CDA05,
    #0084ff,
    #00ffd4,
    #A4F522
  );
  background-size: 300%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 5s infinite linear;
}
.services-static-grid {
 display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  position: relative;
  left: 2rem;
}


 .services-static-box{
   color: white;
  background-color: transparent;
  width: 25%;
  text-align: left;
  position: relative;

}
@media (max-width: 768px) {
.services-static-container {
 height: 130vh;
 }
  .services-static-grid {
   width: 100%;
    height: auto;
    padding: 2rem;  
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
  }

  
  .services-static-box{
   margin-bottom: 0rem;
    width: 80%;  }
}

