.skills-static {
  padding: 2rem;
  position: relative;
  top: 2rem;
  background: transparent;
  width: 30%;
  position: relative;
  top: 1.5rem;
}


.skills-static h3 {
  font-size: 1.4rem;
  color: #8CDA05;
  padding-bottom: 0.5rem;
  position: relative;
  bottom: 2rem;
  left: 2rem;
  margin-top: 3rem;
}

.grid-static {
 display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  position: relative;
  top: -33rem;
  left: 2rem;
 
}


.skill-item {
  padding: 0.1rem;
  background-color: transparent;
  border-radius: 5px;
  transition: transform 0.3s;
}

.buscame-en-static{
  position: relative;
  top: 0rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.contacto{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
  top: 3rem;
  left: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
} 
.contacto a{
  position: relative;
  top: 0rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #7f8c8d;
}
.contacto span{
  color:  #8CDA05;
  position: relative;
}

.skill-item:hover {
  transform: translateY(-3px);
}

.skill-name, .skill-static {
  font-size: 0.9rem;
  color: #ffffff;
}
.skill-namej{
  font-size: 0.9rem;
  position: relative;
  right: 2rem;
}
.skill-nameh{
  font-size: 0.9rem;
  position: relative;
  right: 2.3rem;
}

.skill-static {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}



.skill-static{
  transition: transform 0.3s;
}
.skill-static:hover{
  transform: translateY(-3px);
}

.links-redes{
  position: relative;
  top: 0rem;
  left: 1.6rem;
  cursor: pointer;
}
@media (max-width: 768px) {
 .skills-static {
   margin-top: 15rem;
 position: relative;
    width: 100%;
    align-items: center;
    left: -7rem;
    margin-left: -2rem;
    margin-bottom: 10rem;
  }


.skills-static h3 {
 font-size: 1.3rem;
    color: #8ADA05;
    width: 100%;
    position: relative;
    bottom: -7rem;
    left: 10rem;
}

.grid-static{
  display: grid;
    grid-template-columns: repeat(2, 1fr);
gap: 1rem;
position: relative;
top: -25rem;
left: 10rem;

}




.skill-item {
 display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 5px;
  transition: transform 0.3s;

}
  
  .contacto.visible {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-size: 1rem;
    top: 1rem;
    right: 0;
    text-align: center;
  }
  

  .links-redes {
    left: 0;
    top: 0;
    text-align: center;
  }

  .skill-namej img{
    width: 50px;
    height: 50px;
  }
}


