.serv-title {
 position: fixed;
  top: -5rem;
  left: 0;
  width: 100%;
  height: 100vh; /* Ocupa pantalla completa */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.servicios-grid {
  display: grid;
  position: relative;
  top: 4rem;
  left: 3rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}
.servicios-titulo{
  position: relative;
  top: 5rem;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    #8CDA05,
    #0084ff,
    #00ffd4,
    #A4F522
  );
  background-size: 300%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 2s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
 .servicio-box{
   border-radius: 25px;
   padding: 10px 15px;
    top: 1rem;
    width: 80%;
  }


@media (max-width: 768px) {
  .servicios-grid {
    width: 100%;
    padding: 0 1rem;
    left: 0rem;
    bottom: 1.3rem;
    grid-template-columns: repeat(1, 1fr); /* 2 columnas en dispositivos pequeños */
  }

  .servicios-titulo{
    position: relative;
    top: 9rem;
    color: white;
    font-size: 2rem;
      background: linear-gradient(
    90deg,
    #8CDA05,
    #0084ff,
    #00ffd4,
    #A4F522
  );
  background-size: 300%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 2s infinite linear;
 
  }
  .servicio-box{
    top: 1rem;
    width: 90%;
  }
}
