.servicios-container {
  width: 100%;

  margin: 0 auto;
 background: linear-gradient(to bottom, white 0%, white 40%, #242424 100%);
  text-align: center;
  color: white;

}

.servicios-titulo {
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  position: relative;
  left: -2rem;
}

.servicios-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.servicio-box {
  color: #242424;
  background-color: transparent;
  width: 20%;
  text-align: left;
  position: relative;
  left: -2rem;
}

.servicio-box h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.servicio-box p {
  font-size: 0.95rem;
  line-height: 1.5;
}

.boton-container {
  margin-top: 2rem;
}

.boton-contacto {
  color: black;
  background-color: #8CDA05;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-contacto:hover {
  background-color: #A4F522;
}

/* Responsive */
@media (max-width: 768px) {
  .servicios-container {
    width: 100%;
    padding: 2rem;
  }
  .servicios-grid {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
  }

  .servicio-box {
    margin-bottom: 0rem;
    width: 80%;
  }

  .servicios-titulo {
    font-size: 2rem;
  }
}

