.proyectos-container {
  width: 100%;
  padding: 4rem 2rem;
  background-color: #e5e5e5;
  text-align: center;
  color: white;
  background-color: #000000;
}

.proyectos-titulo {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.proyectos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.proyecto-box {
  
  width: 26%;
  height: 360px;
  background-color: black;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  right: 2rem;
}

.imagen-placeholder {
  flex: 1;
  background-color: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.proyecto-detalle {
  height: 12%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  background-color: black;
}
.image-proyect {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.proyecto-link {
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.proyecto-link:hover {
  cursor: pointer;
}

.github {
  color: black;
}

.github:hover {
  cursor: pointer;
}

.proyecto-boton-container {
  margin-top: 3rem;
}

.proyecto-boton {
  color: black;
  background-color: #FFC300;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.proyecto-boton:hover {
  background-color: #CC9F00;
}

/* Responsive */
@media (max-width: 768px) {
  .proyectos-titulo{
  font-size: 23px;
    position: relative;
    left: -2rem;
  }
  .proyectos-grid {
     flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 20px;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-bottom: 10px;
    overflow-x: auto;  }

  .proyecto-box {
    border: 1px solid white;
    flex: 0 0 auto;
    scroll-snap-align: start;
    min-width: 90%;
    max-width: 90%;
    height: auto;  }

  .proyectos-titulo {
    font-size: 23px;
    position: relative;
    left: -2rem;
  }
  .proyecto-boton{
   position: relative;
    left: -2rem;
    width: 270px;  }
}
/* Scrollbar personalizada */
  .proyectos-grid::-webkit-scrollbar {
    height: 5px;
  }

  .proyectos-grid::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 4px;
  }

  .proyectos-grid::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 2px;
    border: 2px solid #FFC300;
  }
}
