.proyectos-container{
  top: 1rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proyecto1{

 position: fixed;
  top: 1rem;
  left: 0;
  width: 100%;
  height: 100vh; /* Ocupa pantalla completa */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.proyecto2{
 position: fixed;
  top: 1rem;
  left: 0;
  width: 100%;
  height: 100vh; /* Ocupa pantalla completa */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.proyecto3{

 position: fixed;
  top: 1rem;
  left: 0;
  width: 100%;
  height: 100vh; /* Ocupa pantalla completa */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.proyectos-titulo {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 3rem;
    background: linear-gradient(
    90deg,
    #8CDA05,
    #0084ff,
    #00ffd4,
    #A4F522
  );
  background-size: 300%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 2s infinite linear;
 
}

.proyectos-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.proyecto-box {
  width: 100%;
  min-width: 280px;
  max-width: 700px;
  height: 360px;
  background-color: black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.imagen-placeholder {
  flex: 1;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.proyecto-desc {
  flex: 1;
  blur: 2px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  top: 16rem;
  left: 0;
  right: 0;
  z-index: 0;
  align-items: center;
  justify-content: center;
}
.proyecto-descA{
 flex: 1;
  blur: 2px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  top: 16rem;
  left: 0;
  right: 0;
  z-index: 0;
  align-items: center;
  justify-content: center;

    }
.proyecto-desc span{
  font-size: 0.9rem;
}
.proyecto-detalle {
  
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  blur: 2px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.image-proyect {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proyecto-link {
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.proyecto-link:hover {
  cursor: pointer;
}

.github {
  color: black;
}

.github:hover {
  cursor: pointer;
}

.proyecto-boton-container {
  margin-top: 3rem;
}

.proyecto-boton {
  color: black;
  background-color:  #8CDA05 ;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.proyecto-boton:hover {
  color: black;
  background-color:  #A4F522;
}

/* Responsive ajustes */
@media (max-width: 1024px) {
  .proyecto-box {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .proyectos-titulo {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .proyectos-grid {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .proyecto-desc{
    padding: 0.8rem;
    top: 11.5rem;
    width: 100%;
  }
  .proyecto-detalle{
    padding: 1rem;
  }
.proyecto-descA{
   top: 10rem;
    padding: 1rem;
  }
  .proyecto-detalle{
    padding: 1rem;
    height: 50px;
  }


  .proyecto-box {
    width: 90%;
    height: auto;
  }

  .proyecto-boton {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .proyectos-container {
    padding: 2rem;
  }
  .proyecto-box{
    top: 1rem;
    width: 85%;
  }
  .proyecto-desc{
    padding: 0.8rem;
    position: relative;
    top: -2.1rem;
    
  }
  .proyecto-descA{
    padding: 0.8rem;
    position: relative;
    top: -2.1rem;
    
  }
  .proyectos-titulo{
    font-size: 1.7rem;
    top: 0;
  }
}

