.oficios-container {
  width: 100%;
 height: 100dvh;
  margin: 0 auto;
 background: linear-gradient(to right, #0f2027, #8e2de2);
  text-align: center;
  color: white;
 

}

.oficios-titulo {
   position: relative;
  top: 5rem;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    #8CDA05,
    #0084ff,
    #00ffd4,
    #A4F522
  );
  background-size: 300%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 2s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}



.oficios-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  position: relative;
  top: 6rem;
  
}

.oficio-box {
  color: white;
  background-color: transparent;
  width: 24%;
  text-align: left;
  position: relative;
  left: -2rem;
}

.oficio-box h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.oficio-box p {
  font-size: 0.95rem;
  line-height: 1.5;
}

.boton-container {
  margin-top: 2rem;
}

.boton-contacto {
  position: relative;
  top: 10rem;
  left -5rem;
  color: black;
  background-color: #8CDA05;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-contacto:hover {
  color: black;
  background-color: #A4F522;
}

/* Responsive */
@media (max-width: 768px) {
  .oficios-container {
    width: 100%;
    height: auto;
    padding: 2rem;
    
  }
  .oficios-grid {
    top: -4rem;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
  }

  .oficio-box {
    margin-bottom: 0rem;
    width: 80%;
  }

  .oficios-titulo {

    top: -4rem;
      margin-bottom: -1rem;
    font-size: 2rem;
  }
  .boton-contacto{
    position: relative;
    top: -4rem;
    left: 0.2rem;
  }
}

