/* 别 M贸viles grandes */
@media (max-width: 768px) and (min-width: 601px) {
 

  .navbar{
    overflow: hidden;
    height: 45px;
  }

  .navbar-container{
  }
.nav-links-desktop {
  display: none;
}

.menu-button {
  display: flex;
  position: relative;
  left: 0.3rem;
  top: 0px;
  border: none;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  color: white;
  margin-left: 5px;
}
.logo-rtx{
  display: block;
  position: relative;
  right: 4rem;
}


  .header-menu-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .logo-menu-mobile{
    display: flex;
    position: relative;
    right: 6.7rem;
    top: 1.4rem;
     }
     .button-close-menu{
       border: none;
       background-color: transparent;
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 20px;
       cursor: pointer;
       color: black;
       position: relative;
       left: 1.2rem;
       top: 1.4rem;
     }

.nav-links-mobile {
  position: absolute;
  top: -60px;
  left: -100%;
  width: 100%;
  min-height: 50;
  background-color: #000;
  display: flex;
  align-items: left;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  padding:  0;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.nav-links-mobile.active {
  background-color: #000;
  position: fixed;
  left: 0;
  min-height: 50vh;
  overflow: hidden;
}

.li-mobile{
  position: relative;
  top: 30px;
  left: 15px;
  margin-top: 30px;
  height: 16px;
  width: calc(100vw - 20%);
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 11px;
  transition: 0.20s;
  padding: 0px 15px;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  }



.btn1, .btn2 , .btn3 , .btn4{
  height: 20px;
color: rgba(0,0,0,0.8);
position: relative;
right: 27px;
background-color: #fff;
display: flex;
justify-content: center;
align-items: center;
font-size: 14px;
margin-bottom: 40px;
padding:0 15px;
text-align: center;
border: none;
  
}


.btn1:hover, .btn2:hover , .btn3:hover , .btn4:hover{
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.btn1:hover{
  border-left: 5px solid #FFC300;
}
.btn2:hover{
  border-left: 5px solid #FFC300;
}
.btn3:hover{
  border-left: 5px solid  #FFC300;
}
.btn4:hover{
  border-left: 5px solid  #FFC300;
}


.check{
  background-color: #FFC300;
  text-align: center;
  justify-content: center;
  align-items: center;
   font-size: 10px;
position: relative;
right: 39px;
bottom: 10px;
  margin-bottom: 25px;
  height: 10px;
  width: 44px;
  padding: 5px 8px;
  border-radius: 5px;
}



.btn6{
  position: relative;
  right: 40px;
  bottom: 0px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 12px;
  background-color:#FFC300;
  color: #000;
  font-size: 11px;
  width: calc(90vw - 20%);
  border-radius: 18px;
  height: 28px;
  transition: 0.20s;
  border: 2.1px solid #000;
}


}
/* 别 M贸viles peque帽os */
@media (max-width: 600px) {


  .navbar{
    overflow: hidden;
    height: 70px;
  }

  .navbar-container{
  }
.nav-links-desktop {
  display: none;
}

.menu-button {
  display: flex;
  position: relative;
  left: 1.6rem;
  top: 0px;
  background: none;
  border: none;
  font-size: 30px;
  position: relative;
  cursor: pointer;
  color: white;
  margin-left: 5px;
}

.logo-rtx{
  display: block;
  position: relative;
  left: -3rem;
}
.logo-rtx img{
  width: 150px;
  position: relative;
  right: 9rem;
}


  .header-menu-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .logo-menu-mobile{
    display: flex;
    position: relative;
    right: 3rem;
    top: 2rem;
     }

     .logo-menu-mobile img{
       position: relative;
       right: 4rem;
       width: 140px;
     }
     .button-close-menu{
       border: none;
       background-color: transparent;
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 30px;
       cursor: pointer;
       color: white;
       position: relative;
       left: 5rem;
       top: 2rem;
     }

.nav-links-mobile {
  position: absolute;
  top: -60px;
  left: -100%;
  width: 100%;
  min-height: 60vh;
 background-color:  #000;
  display: flex;
  align-items: left;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  padding:  0;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.nav-links-mobile.active {
  position: fixed;
  left: 0;
  min-height: 60vh;
 
  overflow: hidden;
 background-color: #000;
 z-index: 1000;
}

.li-mobile{
  position: relative;
  left: 15px;
  margin-top: 20px;
  height: 20px;
  width: calc(100vw - 20%);
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 11px;
  transition: 0.20s;
  padding: 0px 15px;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  

.btn1, .btn2 , .btn3 , .btn4{
  height: 40px;
color: #fff;
position: relative;
right: 27px;
background-color: #000;
display: flex;
justify-content: center;
align-items: center;
font-size: 16px;
margin-bottom: 40px;
padding:0 15px;
text-align: center;
border: none;
  
}


.btn1:hover, .btn2:hover , .btn3:hover , .btn4:hover{
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.btn1:hover{
  border-left: 5px solid  #FFC300;
}
.btn2:hover{
  border-left: 5px solid  #FFC300;
}
.btn3:hover{
  border-left: 5px solid  #FFC300;
}
.btn4:hover{
  border-left: 5px solid  #FFC300;
}


.check{
  background-color: #FFC300;
  text-align: center;
  justify-content: center;
  align-items: center;
   font-size: 14px;
position: relative;
right: 39px;
bottom: 10px;
  margin-bottom: 25px;
  height: 15px;
  width: 60px;
  padding: 5px 8px;
  border-radius: 5px;
}



.btn6{
  position: relative;
  right: 20px;
  top: 10px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 12px;
  background-color:  #FFC300;
  color: #000;
  font-size: 16px;
  width: calc(80vw - 20%);
  border-radius: 10px;
  height: 40px;
  transition: 0.20s;
  border: 2.1px solid #000;
}

  
}

/* 别 M贸viles ultra peque帽os (Ej: iPhone SE, 320px) */
@media (max-width: 400px) { 
 .navbar{
   overflow: hidden;
    height: 60px;
  }

  
.nav-links-desktop {
  display: none;
}

.menu-button {
  display: flex;
  position: relative;
  left: 1.2rem;
  top: 0px;
  background: none;
  border: none;
  font-size: 30px;
  position: relative;
  cursor: pointer;
  color: white;
  margin-left: 5px;
}
.logo-rtx{
  display: block;
  position: relative;
  right: 4rem;
  background-color: transparent;
}
.logo-rtx img{
  width: 140px;
  height: 140px;
  position: relative;
  left: -9rem;
}


  .header-menu-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #000;
  }

  .logo-menu-mobile{
    background-color: transparent;
    display: flex;
    position: relative;
    right: 2rem;
    top: 2rem;
     }
  .logo-menu-mobile img{
        background-color: transparent;
       width: 140px;
     }
     .button-close-menu{
       border: none;
       background-color: transparent;
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 25px;
       cursor: pointer;
       color: white;
       position: relative;
       left: 5rem;
       top: 2rem;
     }

.nav-links-mobile {
  position: absolute;
  top: -60px;
  left: -100%;
  width: 100%;
  min-height: 70vh;
  
  background-color: #000;
  display: flex;
  align-items: left;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  padding:  0;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.nav-links-mobile.active {
  position: fixed;
  background-color: #000;
  min-height: 70vh;
  overflow: hidden;
}

.li-mobile{
  position: relative;
  left: 15px;
  margin-top: 30px;
  height: 20px;
  width: calc(100vw - 20%);
  display: flex;
  align-items: center;
  justify-content: left;
  transition: 0.20s;
  padding: 0px 15px;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  }

 
.btn1, .btn2 , .btn3 , .btn4{
  height: 30px;
color: #fff;
position: relative;
right: 27px;
background-color: #000;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
margin-bottom: 30px;
padding:0 15px;
text-align: center;
border: none;
  
}


.btn1:hover, .btn2:hover , .btn3:hover , .btn4:hover{
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.btn1:hover{
  border-left: 5px solid  #FFC300;
}
.btn2:hover{
  border-left: 5px solid #ffc300;
}
.btn3:hover{
  border-left: 5px solid #ffc300;
}
.btn4:hover{
  border-left: 5px solid #ffc300;
}
.check{
  background-color: #ffc300;
  text-align: center;
  justify-content: center;
  align-items: center;
   font-size: 14px;
position: relative;
right: 39px;
bottom: 2px;
  margin-bottom: 25px;
  height: 13px;
  width: 60px;
  padding: 5px 10px;
  border-radius: 5px;
}



.btn6{
  position: relative;
  right: 0;
  top: 20px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 12px;
  background-color:#ffc300;
  color: #000;
  font-size: 18px;
  width: calc(100vw - 10%);
  border-radius: 18px;
  height: 28px;
  transition: 0.20s;
  border: 2.1px solid #000;



}


     

 




























  /* Estilos para m贸viles */
}

