
/* ✅ Responsive styles */
@media (max-width: 768px) {
  .faq-container {
     width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
background: #FFF;
background: linear-gradient(180deg, rgba(255, 255, 255, 1) 60%, rgba(140, 220, 2, 1) 80%, rgba(140, 218, 5, 1) 100%);
  color: black;
  padding: 5rem;
  margin: 0;  }

  .faq-left,
  .faq-right {
    position: relative;
  width: 100%;
  }

  .faq-left h2 {
    font-size: 1.8rem;
    text-align: center;
  }


  .faq-image {
    position: relative;
    left: -2rem;
    margin-bottom: 2rem;
    width: 300px;
    height: 200px;
    font-size: 1rem;
  }

  .faq-pregunta {
    width: 90%;
    font-size: 1rem;
  }

  .icono {
    font-weight: bold;
    color: #8CDA05;
    font-size: 1.2rem;
  }

  .faq-respuesta {
    position: relative;
    font-size: 0.8rem;
  }
}


